body {
  max-width: 375px;
  margin: auto;
  background: var(--purple);
  --red: #b9054b;
  --orange: #ffc373; 
  --pink: #f84f83;
  --purple: #9a80ce; 
  font-family: 'Rubik', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--red);
  align-items: center;
  justify-content: space-evenly;
  color: var(--orange);
  font-family: 'Titan One', cursive;
  position: sticky;
  top: 0;
}

.profil-picture {
  border-radius: 50%;
  width: 15%;
  height: 15%;
  padding: 10px;
}

.profil-name {
  font-size: 25px;
  margin: 0;
  padding: 0 50px;
}

.svg {
  max-width: 30px;
}


main {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}

main p {
  border-radius: 12px;
  max-width: 75%;
  word-wrap: break-word;
  margin: 2px;
}

main img {
  border-radius: 12px;
}

.systeme {
  align-self: center;
  background-color: var(--red);
  padding: 6px 10px;
  border-radius: 5px;
  color: var(--orange);
  margin: 10px 0;
}

.left {
  align-self: flex-start;
  background-color: var(--pink); 
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.left:has(+ .left) {
  margin-bottom: 0px;
}

.right {
  align-self: flex-end;
  background-color: var(--orange);
  padding: 10px;
  margin-right: 5px;
}
